.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.button-container {
  margin-bottom: 20px;
}

button {
  background-color: #555;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #777;
}

canvas {
  border: 1px solid black;
}

div {
  margin: auto;
}
